.app {
  width: 100%;
}

.app .page-container {
  position: relative;
  /*transition: height 0.4s ease;*/
}

.app .page-container.page {
  z-index: 1;
  height: 100vh;
  padding: 5rem 0;
}

.app .page-container.home {
  height: 0;
}

.disabled-link {
  pointer-events: none;
}

.hover-item {
  color: #494f5c;
  cursor: pointer;
  transition: color 0.4s ease;
}

.hover-item:hover {
  color: #b6b9bf;
}

pre {
  padding: 0.7em 1.1em;
  overflow: auto;
  font-size: .9em;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  color: #eee;
  background: #555555;
  border-radius: 4px;
}
