html {
  font-size: 62.5%;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
  color: #494f5c;
}

img {
  width: 100%;
}

input, textarea, button {
  outline: none;
}

i, em {
  font-weight: normal;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.horizontal-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
